.box-main__footer
  %ul.box-main__footer__top
    %li.box-main__footer__top__head-line--first プライバシーポリシー
    %li.box-main__footer__top__head-line メルカリ利用規約
    %li.box-main__footer__top__head-line 特定商取引に関する表記
  = link_to "",class:"box-main__footer__img" do
    = image_tag "logo-gray.svg", alt:"mercari", width:"80", height:"65"
  %p.box-main__footer__year
    %small.box-main__footer__year__copy-right © 2019 Mercari
