.sign_box-header
  %h1.sign_box-header-icon
    = image_tag 'logo.svg'
  .sign_box-header-bar
    -# %nav.sign_box-header-bar__menu
    -#   %ol.move-line
    -#     %li.sign_box-header-bar__menu__move
    -#       会員情報
    -#       .dot
    -#     %li.sign_box-header-bar__menu__move 
    -#       電話番号承認
    -#       .dot
    -#     %li.sign_box-header-bar__menu__move
    -#       お届け先住所入力
    -#       .dot
    -#     %li.sign_box-header-bar__menu__move
    -#       支払い方法
    -#       .dot
    -#     %li.sign_box-header-bar__menu__move
    -#       完了
    -#       .dot