.done-body__center{
  display: block;
  &__upper{
    width: 700px;
    margin: 0 auto;
    background-color: #fff;
    &__end{
      font-size: 22px;
      padding: 32px;
      text-align: center;
      // &:hover{
      //   color: red;
      // }
    }
  }
  &__under{
    padding: 50px 16px 40px;
    border-top: 1px solid #ccc;
    // height: 480px;
    text-align: center;
    width: 700px;
    margin: 0 auto;
    background-color: #fff;
    &__end{
      font-size: 22px;
      text-align: center;
    }
    .done-body-button{
      background-color: #ea352d;
      color: #fff;
      height: 50px;
      width: 343px;
      text-align: center;
      line-height: 25px;
      margin-top: 50px;
    }
  }
}