@mixin sub-footer() {
  .single-footer {
    width: 456px;
    height: 220px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    padding: 40px 0;
    text-align: center;
    .single-list{
      &__footer {
        font-size: 0;
        list-style: none;
        &__one {
          margin: 0;
          display: inline-block;
          font-size: 12px;
        }
        &__two {
          display: inline-block;
          margin: 0 0 0 16px;
          font-size: 12px;
        }
          .single-list-footer-link {
            display: block;
            color: #333;
            text-decoration: none;
            touch-action: manipulation;
          }
      }
    }
    .single-list__link {
      display: block;
      color: #333;
      width: 80px;
      height: 65px;
      margin: 40px auto 0;
      text-decoration: none;
      touch-action: manipulation;
      }
    .single-list__text {
      margin: 8px 0 0;
      &__year {
        font-size: 13px;
      }
    }
  }
}