*{
  text-decoration: none ;
}

.box-main-content{
  width: 700px;
  margin: 0 auto;
  background-color: #fff;
  text-align: center;
  height: 344px;
  &__new{
    padding: 32px;
    font-size: 22px;
    margin: 0 auto;
  }
  &__sign_up{
    padding: 24px 16px 40px;
    border-top: 1px solid #f5f5f5;
    line-height: 48px;
    &__mail{
      position: relative;
      background-color: #ea352d;
      width: 343px;
      margin: 0 170px 0;
      color: #fff;  
      border-radius: 4px;
      &__icon{
        position: absolute;
        font-size: 16px;
        left: 16px;
      }
      
    }
    &__face{
      position: relative;
      background-color: #385185;
      width: 343px;
      margin: 16px 170px 0;
      color: #fff;
      border-radius: 4px;
      &__icon{
        position: absolute;
        font-size: 16px;
        left: 16px;
      }
    }
    &__g{
      position: relative;
      width: 343px;
      margin: 16px 170px 0;
      border-radius: 4px;
      border: #979797 solid 1px;
      &__icon{
        position: absolute;
        font-size: 16px;
        left: 16px;
      }
    }
  }
}

.links{
  color: #fff;
}

@include sub-header();