.done-body{
  .done-body-header{
    height: 128px;
    text-align: center;
    .done-body-header-icon{
      margin: 40px 0 0;
      height: 49px;
      width: 185px;
      display: inline-block;
      &:hover{
        opacity: 0.5 ;
      }
    }
  }
  .done-body__center{
    display: block;
    &__upper{
      width: 700px;
      margin: 0 auto;
      background-color: #fff;
      &__end{
        font-size: 22px;
        padding: 32px;
        text-align: center;
      }
    }
    &__under{
      padding: 50px 16px 40px;
      border-top: 1px solid #ccc;
      // height: 480px;
      text-align: center;
      width: 700px;
      margin: 0 auto;
      background-color: #fff;
      &__end{
        font-size: 18px;
        text-align: center;
        &:first-child{
          padding-bottom: 10px;
        }
      }
      .done-body-button{
        background-color: #ea352d;
        color: #fff;
        height: 50px;
        width: 343px;
        text-align: center;
        line-height: 25px;
        margin-top: 50px;
      }
    }
  }
}

